/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 40px;
    text-align: center;
}

nav{
font-size: 20px;
}

#content {
    text-align:center;
    padding: 20px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.image {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
    margin-bottom: 20px;
    transform-style: preserve-3d; 
}

.image:hover {
    transform: translateY(-5px) rotateX(8deg); 
}

.image img {
    max-width: 80%; 
    height: 80vh auto; 
}
